<h3>
   <span translate="activeDeposit-add.label.new">
      New ActiveDeposit
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="activeDepositForm">


   <div class="form-group" 
        ng-class="{'has-success':andOperator(activeDepositForm.deposit.$valid,activeDepositForm.deposit.$dirty),
               'has-error':andOperator(activeDepositForm.deposit.$invalid,activeDepositForm.deposit.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeDeposit-add.label.deposit">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                 required="true"
                 ng-model="activeDeposit.depositId"
                 >
                 <option ng-repeat="deposit in deposits| filter:{currencyId:activeAccount.currencyId}" value="{{deposit.depositId}}">Waluta: {{deposit.currencyId}} Min. kwota: {{deposit.minCash}} Max. kwota: {{deposit.maxCash}} Odnawialny: {{deposit.renewable}} Okres kapitalizacji odsetek: {{deposit.capitalizationPeriod}} {{deposit.capitalizationPeriodName}} Oprocentowanie: {{deposit.rate}}%</option>
         </select>

         <p class="error text-danger"
            ng-show="andOperator(activeDepositForm.deposit.$error.required, activeDepositForm.deposit.$dirty)"
            translate="activeDeposit-add.validator.deposit.required">Currency is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(activeDepositForm.value.$valid,activeDepositForm.value.$dirty),
               'has-error':andOperator(activeDepositForm.value.$invalid,activeDepositForm.value.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeDeposit-add.label.value">Value</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="value" 
                required="true"
                ng-attr-placeholder="{{'activeDeposit-add.label.value'|translate}}"
                ng-model="activeDeposit.amount"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeDepositForm.value.$error.required, activeDepositForm.value.$dirty)"
            translate="activeDeposit-add.validator.value.required">Value is required</p>
      </div>
   </div>



   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'activeDeposit-add.button.save'|translate}}"
                 ng-click="saveActiveDeposit()" 
                 ng-disabled="activeDepositForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="activeDeposit-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ng-click="cancel()" ng-attr-title="{{'activeDeposit-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="activeDeposit-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
