<h3>
   <span>
      {{'activeDeposit-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-6">
      <h4 translate="activeDeposit-list.label.count"
          translate-values="{count:'{{activeDeposits.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'activeDeposit-list.label.loading'|translate}}</span>
      </div>
   </div>
   <div class="col-md-2">
      <a class="btn btn-success"
         ui-sref="activeDeposit.add" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="activeDeposit-list.label.add" >
            Create activeDeposit
         </span>
      </a>
   </div>
</div>

<h4 class="text-center"
    ng-show="!activeDeposits.length">
   {{'activeDeposit-list.label.noData'|translate}}
</h4>
<div ng-show="activeDeposits.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-2">{{'activeDeposit-list.label.activeDeposit.rate'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'activeDeposit-list.label.activeDeposit.account'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'activeDeposit-list.label.activeDeposit.startDate'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'activeDeposit-list.label.activeDeposit.amount'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'activeDeposit-list.label.activeDeposit.calculatedAmount'|translate}}</div>
      <div class="col-md-3"></div>
   </div>
   <div class="row row-custom" ng-repeat="activeDeposit in activeDeposits ">
      <div class="col-xs-7 col-md-2">
         <a ui-sref="activeDeposit.common.details({id: activeDeposit.activeDepositId})">
            {{activeDeposit.rate}}
         </a>
      </div>
      <div class="col-xs-7 col-md-1">
         <a ui-sref="activeDeposit.common.details({id: activeDeposit.activeDepositId})">
            {{activeDeposit.accountId}}
         </a>
      </div>
      <div class="col-xs-7 col-md-2">
         <a ui-sref="activeDeposit.common.details({id: activeDeposit.activeDepositId})">
            {{activeDeposit.dateStart}}
         </a>
      </div>
      <div class="col-xs-7 col-md-2">
         <a ui-sref="activeDeposit.common.details({id: activeDeposit.activeDepositId})">
            {{activeDeposit.amount}}
         </a>
      </div>
      <div class="col-xs-7 col-md-2">
         <a ui-sref="activeDeposit.common.details({id: activeDeposit.activeDepositId})">
            {{activeDeposit.calculatedAmount | number: 2}}
         </a>
      </div>
      <div class="col-md-3">
         <a 
            class="btn btn-success"
            ng-show="activeDeposit.isFinished"
            ng-click="deleteActiveDeposit(activeDeposit.activeDepositId)">
            <i class="fa fa-check-square-o"></i>
            <span class="hidden-xs" 
                  translate="activeDeposit-list.label.getCash" >
               activeDeposit delete
            </span>
         </a>
         <a 
            class="btn btn-danger"
            ng-show="!activeDeposit.isFinished"
            ng-click="stopActiveDeposit(activeDeposit.activeDepositId)">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="activeDeposit-list.label.stop" >
               activeDeposit stop
            </span>
         </a>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'activeDeposit-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
