<div class="col-md-12 hidden-xs" style="padding:0" sec:authorize="hasAnyRole('ROLE_WORKER')">
   <ul class="nav nav-tabs pull-right nav-justified" role="tablist">
      <li ng-class="{'active' : view.details }" ng-click="changeView('DETAILS')">
         <a role="tab" >
            <i class="fa fa-user"></i>
            {{'user-common.label.details'|translate}}</a>
      </li>
      <li ng-class="{'active' : view.accounts }"  ng-click="changeView('ACCOUNTS')">
         <a role="tab">
            <i class="fa fa-briefcase"></i>
            {{'user-common.label.accounts'|translate}}</a>
      </li>
      <li ng-class="{'active' : view.credits }"  ng-click="changeView('CREDITS')">
         <a role="tab">
            <i class="fa fa-calculator"></i>
            {{'user-common.label.credits'|translate}}</a>
      </li>
   </ul>
</div>
<div style="min-height: 60px">
   
</div>
<div class="row" ng-show="view.details" style="padding-top: 20px">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.title'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.title}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.firstname'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.firstname}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.lastname'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.lastname}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.username'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.username}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.email'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.mail}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.createdAt'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.createdAt| date:'yyyy-MM-dd HH:mm'}}</div>
      </div> 
   </div>
</div>

<div style="padding:15px;" sec:authorize="hasAnyRole('ROLE_WORKER')"  ng-show="view.accounts">
   <h3 class="row">
      <span>
         {{'account-list.label'|translate}}
      </span>
      <a class="btn btn-success"
         ui-sref="myaccount.userAdd({userId : user.userId})" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="account-list.label.add" >
            Create Account
         </span>
      </a>
   </h3>
   <h4 class="text-center"
       ng-show="!accounts.length">
      {{'account-list.label.noData'|translate}}
   </h4>
   <div ng-show="accounts.length">
      <div class="row row-header-bottom">
         <div class="hidden-xs col-md-3">{{'account-list.label.account.iban'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'account-list.label.account.balance'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'account-list.label.account.currency'|translate}}</div>
         <div class="hidden-xs col-md-2">{{'account-list.label.account.active'|translate}}</div>
         <div class="col-md-3"></div>
      </div>
      <div class="row row-custom" ng-repeat="account in accounts">
         <div class="col-xs-7 col-md-3">
            {{account.iban}}
         </div>
         <div class="col-xs-7 col-md-2">{{account.balance}}</div>
         <div class="col-xs-7 col-md-2">
            {{account.currency}}
         </div>
         <div class="col-xs-7 col-md-2">
            <span ng-if="account.active"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span ng-if="!account.active"><i class="fa fa-times" aria-hidden="true"></i></span>
         </div>
         <div class="col-md-3">
            <a 
               class="btn btn-danger"
               ng-click="deleteMyaccount(account.accountId)">
               <i class="fa fa-times"></i>
               <span class="hidden-xs" 
                     translate="account-list.label.delete" >
                  Myaccount delete
               </span>
            </a>
            <button class="btn btn-primary" 
                    ng-click="boost(account.accountId)"
                    >
               <span class="hidden-xs" 
                     translate="account-list.label.boost" >
                  Myaccount Boost
               </span>
            </button>
         </div>
      </div>
   </div>
</div>

<div  style="padding:15px;"  sec:authorize="hasAnyRole('ROLE_WORKER')"  ng-show="view.credits">
   <h3 class='row'>
      <span>
         {{'activeCredit-list.label'|translate}}
      </span>
      <a class="btn btn-success"
         ui-sref="activeCredit.userAdd({userId: user.userId})" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="activeCredit-list.label.add" >
            Create ActiveCredit
         </span>
      </a>
   </h3>
   <h4 class="text-center"
       ng-show="!activeCredits.length">
      {{'activeCredit-list.label.noData'|translate}}
   </h4>

   <div ng-show="activeCredits.length">
      <div class="row row-header-bottom">
         <div class="hidden-xs col-md-3">{{'activeCredit-list.label.activeCredit.startDate'|translate}}</div>
         <div class="hidden-xs col-md-3">{{'activeCredit-list.label.activeCredit.finishDate'|translate}}</div>
         <div class="col-md-3">{{'activeCredit-list.label.activeCredit.value'|translate}}</div>
         <div class="col-md-2"></div>
      </div>
      <div class="row row-custom" ng-repeat="activeCredit in activeCredits">
         <div class="col-xs-7 col-md-3">
               {{onlyDate(activeCredit.startDate)}}
         </div>
         <div class="col-xs-7 col-md-3">
               {{onlyDate(activeCredit.finishDate)}}
         </div>
         <div class="col-md-3">
            {{activeCredit.value}}
         </div>
         <div class="col-md-2">
<!--            <a class="btn btn-primary"
               ui-sref="activeCredit.edit({id: activeCredit.activeCreditId})" >
               <i class="fa fa-pencil-square-o"></i>
               <span class="hidden-xs" 
                     translate="activeCredit-list.label.edit" >
                  ActiveCredit Edit
               </span>
            </a>-->
            <a ng-if="activeCredit.active"
               class="btn btn-success"
               ng-click="finishActiveCredit(activeCredit.activeCreditId)">
               <i class="fa fa-check-square-o"></i>
               <span class="hidden-xs" 
                     translate="activeCredit-list.label.finish" >
                  Finish activeCredit
               </span>
            </a>
<!--            <a 
               class="btn btn-danger"
               ng-click="deleteActiveCredit(activeCredit.activeCreditId)">
               <i class="fa fa-times"></i>
               <span class="hidden-xs" 
                     translate="activeCredit-list.label.delete" >
                  ActiveCredit delete
               </span>
            </a>-->
         </div>
      </div>
   </div>
</div>