<h3>
   <span>
      {{'transaction-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="transaction-list.label.count"
          translate-values="{count:'{{transactions.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'transaction-list.label.loading'|translate}}</span>
      </div>
   </div>
</div>

<h4 class="text-center"
    ng-show="!transactions.length">
   {{'transaction-list.label.noData'|translate}}
</h4>

<div ng-show="transactions.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-3">{{'transaction-list.label.transaction.fromIBAN'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'transaction-list.label.transaction.toIBAN'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'transaction-list.label.transaction.value'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'transaction-list.label.transaction.date'|translate}}</div>
      <div class="col-md-2"></div>
   </div>
   <div class="row row-custom" ng-repeat="transaction in transactions | orderBy: '-transactionId'">
      <div class="col-xs-7 col-md-3">
            {{transaction.fromIBAN}}
      </div>
      <div class="col-xs-7 col-md-3">
            {{transaction.toIBAN}}
      </div>
      <div class="col-xs-7 col-md-3">
            {{transaction.value}}
      </div>
      <div class="col-xs-7 col-md-3">
            {{transaction.createdAt}}
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'transaction-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
