<h3>
   <span translate="deposit-add.label.new">
      New Deposit
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="depositForm">
  
   <div class="form-group"
        ng-class="{'has-success':andOperator(depositForm.rate.$valid,depositForm.rate.$dirty),
               'has-error':andOperator(depositForm.rate.$invalid,depositForm.rate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="deposit-add.label.rate">rate</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="rate" 
                required="true"
                ng-attr-placeholder="{{'deposit-add.label.rate'|translate}}"
                ng-model="deposit.rate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(depositForm.rate.$error.required, depositForm.rate.$dirty)"
            translate="deposit-add.validator.rate.required">rate is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(depositForm.minCash.$valid,depositForm.minCash.$dirty),
               'has-error':andOperator(depositForm.minCash.$invalid,depositForm.minCash.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="deposit-add.label.minCash">minCash</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="minCash" 
                required="true"
                ng-attr-placeholder="{{'deposit-add.label.minCash'|translate}}"
                ng-model="deposit.minCash"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(depositForm.minCash.$error.required, depositForm.minCash.$dirty)"
            translate="deposit-add.validator.minCash.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(depositForm.maxCash.$valid,depositForm.maxCash.$dirty),
               'has-error':andOperator(depositForm.maxCash.$invalid,depositForm.maxCash.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="deposit-add.label.maxCash">maxCash</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="maxCash" 
                required="true"
                ng-attr-placeholder="{{'deposit-add.label.maxCash'|translate}}"
                ng-model="deposit.maxCash"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(depositForm.maxCash.$error.required, depositForm.maxCash.$dirty)"
            translate="deposit-add.validator.maxCash.required">maxCash is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(depositForm.capitalizationPeriod.$valid,depositFormcapitalizationPeriod.$dirty),
               'has-error':andOperator(depositForm.capitalizationPeriod.$invalid,depositForm.capitalizationPeriod.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="deposit-add.label.capitalizationPeriod">capitalizationPeriod</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>

      <!--<div class="col-sm-8">-->
      <!--<div class="form-inline well">-->
              <div class="col-sm-2"> 
                  <select name="periodType" class="form-control" ng-model="deposit.capitalizationPeriodType">
                      <option value="day" translate="deposit-add.periodSelect.day">day</option>
                      <option value="month" translate="deposit-add.periodSelect.month">month</option>
                      <option value="year" translate="deposit-add.periodSelect.year">year</option>
                  </select>
              </div>
              <div class="col-sm-3">
                  <input type="number"
                         class="form-control"
                         name="periodAmount"
                         required="true"
                         ng-attr-placeholder="{{'deposit-add.label.capitalizationPeriod'|translate}}"
                         ng-model="deposit.capitalizationPeriodAmount"
                         ></input>
              </div>
               <div class="col-sm-3">
                  <input type="number"
                         class="form-control"
                         name="duration"
                         required="true"
                         ng-attr-placeholder="{{'deposit-add.label.duration'|translate}}"
                         ng-model="deposit.duration"
                         ></input>
              </div>
              <!--</div>-->

         <p class="error text-danger"
            ng-show="andOperator(depositForm.periodNumber.$error.required, depositForm.periodNumber.$dirty)"
            translate="deposit-add.validator.capitalizationPeriod.required">capitalizationPeriod is required</p>
         <!--</div>-->
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="deposit-add.label.renewable">Changing Rate</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="renewable" 
                ng-model="deposit.renewable"
         ></input>
      </div>
   </div>
   <div class="form-group" >
       <span class="col-sm-2 text-right">
           <label for="option" class=" control-label"
                  translate="deposit-add.label.currency">Currency</label>
       </span>
       <div class="col-sm-8">
           <select name="currency" class="form-control" required="true" ng-model="deposit.currencyId">
               <option ng-repeat="currency in currencies" value="{{currency.currencyId}}">
                   {{currency.symbol}}
               </option>
           </select>

         <p class="error text-danger"
            ng-show="andOperator(depositForm.currency.$error.required, depositForm.currency.$dirty)"
            translate="deposit-add.validator.currency.required">Currency is required</p>
       </div>
   </div>


   
   
   

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'deposit-add.button.save'|translate}}"
                 ng-click="saveDeposit()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="deposit-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="deposit.list" ng-attr-title="{{'deposit-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="deposit-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
