<h3>
   <span>
      {{'deposit-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-6">
      <h4 translate="deposit-list.label.count"
          translate-values="{count:'{{deposits.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'deposit-list.label.loading'|translate}}</span>
      </div>
   </div>
   <div class="col-md-2">
      <a class="btn btn-success"
         ui-sref="deposit.add" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="deposit-list.label.add" >
            Create deposit
         </span>
      </a>
   </div>
</div>

<h4 class="text-center"
    ng-show="!deposits.length">
   {{'deposit-list.label.noData'|translate}}
</h4>

<div ng-show="deposits.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-2">{{'deposit-list.label.deposit.rate'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.minCash'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.maxCash'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'deposit-list.label.deposit.renewable'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.constant'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.capitalizationPeriod'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.duration'|translate}}</div>
      <div class="hidden-xs col-md-1">{{'deposit-list.label.deposit.currency'|translate}}</div>
      <div class="col-md-2"></div>
   </div>
   <div class="row row-custom" ng-repeat="deposit in deposits ">
      <div class="col-xs-7 col-md-2">
            {{deposit.rate}}%
      </div>
      <div class="col-xs-7 col-md-1">
            {{deposit.minCash}}
      </div>
      <div class="col-xs-7 col-md-1">{{deposit.maxCash}}</div>
      <div class="col-xs-7 col-md-2">
         <span ng-if="deposit.renewable"><i class="fa fa-check" aria-hidden="true"></i></span>
         <span ng-if="!deposit.renewable"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <div class="col-xs-7 col-md-1">
            {{deposit.constant}}
      </div>
      <div class="col-xs-7 col-md-1">{{deposit.capitalizationPeriod}}</div>
      <div class="col-xs-7 col-md-1">{{deposit.duration}}</div>
      <div class="col-xs-7 col-md-1">{{deposit.currencySymbol}}</div>
      <div class="col-md-2">
         <a 
            class="btn btn-danger"
            ng-click="deleteDeposit(deposit.depositId)">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="deposit-list.label.delete" >
               deposit delete
            </span>
         </a>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'deposit-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
