<div class="row">
   <div class="col-md-6">
      <div class="row">
         <span class="col-md-9 col-xs-9">
            <label class="medium-size-font">
               <span translate="activeCredit-common.label.credit-time"></span>: {{onlyDate(activeCredit.startDate)}} - {{onlyDate(activeCredit.finishDate)}}
            </label>
         </span>
      </div>
   </div>
</div>
<div class="hidden-xs">
   <div ui-view=""></div>
</div>
